<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Locations
        </th>
    </tr>
    {{#each brand}}
    <tr>
        <td>
            {{this.name}}
        </td>
        <td>
            <ul>
                {{#each this.Locations}}
                <li>
                    {{this}}
                </li>
                {{/each}}
            </ul>
            
        </td>
    </tr>
    {{/each}}
</table>
<hr>
<table>
        <tr>
        <th>
            Name
        </th>
        <th>
            Location
        </th>
        <th>
            Brands In Kitchen
        </th>
    </tr>
    {{#each kitchen}}
    <tr>
        <td>
            {{this.name}}
        </td>
        <td>
            {{this.Location}}
        </td>
        <td>
            <ul>
                {{#each this.Brands}}
                <li>
                    {{this.name}}
                </li>
                {{/each}}
            </ul>
            
        </td>
    </tr>
    {{/each}}
</table>